<!-- login.html -->

{% extends "base.html" %}
{% block title %} Log In {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='logincss.css')}}">
{% endblock %}
{% block content %}
	
<div class="card">
  <br>
  <h1>Log In</h1>
  <br>
  <form method="POST">

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <button type="submit">Login</button>
    </div>
  
  </form>
  <br>
</div>

{% endblock %}